<nav class="navbar navbar-light">
  <div class="container">
    <!-- [ngClass]="{ highlight: isHighlight}"
    [ngStyle]="{ 'font-size': fontSize + 'px' }"

    [class.highlight]="isHighlight"
    [style.font-size.px]="fontSize"  -->
    <a class="navbar-brand"

    [class]="{ highlight: isHighlight}"
    [style]="{ 'font-size': fontSize + 'px' }"

    href="index.html">conduit</a>
    <input [(ngModel)]="keyword"

    class="form-control form-control-sm search-input" type="text" placeholder="Keyword">
    <button class="btn btn-sm btn-primary" (click)="search()">
      <i class="ion-search"></i>
    </button>
    <span *ngIf="keyword === ''">請輸入關鍵字</span>
    <!-- <app-tags [hidden]="keyword !== ''">請輸入關鍵字</app-tags> -->
    {{ keyword }}
  </div>
</nav>
