<nav class="navbar navbar-light">


  <div class="container">
    <!-- [ngClass]="{ highlight: isHighlight}"
    [ngStyle]="{ 'font-size': fontSize + 'px' }"

    [class.highlight]="isHighlight"
    [style.font-size.px]="fontSize"  -->
    <a class="navbar-brand" [class]="{ highlight: isHighlight}" [style]="{ 'font-size': fontSize + 'px' }"
      href="index.html">conduit</a>
    <input [(ngModel)]="keyword" class="form-control form-control-sm search-input" type="text" placeholder="Keyword">
    <button class="btn btn-sm btn-primary" (click)="search()">
      <i class="ion-search"></i>
    </button>

    <span class="highlight">
      <ng-container *ngIf="keyword === ''; then pleaseInput; else yourInput">
      </ng-container>
      <ng-template #pleaseInput>
        請輸入關鍵字
      </ng-template>
      <ng-template #yourInput>
        你輸入: {{ keyword }}
      </ng-template>
    </span>

    <!-- <span class="highlight">
      <ng-container *ngIf="keyword === ''; else yourInput2">
        請輸入關鍵字
      </ng-container>
      <ng-template #yourInput2>
        你輸入: {{ keyword }}
      </ng-template>
    </span> -->

    <!-- <span class="highlight" *ngIf="keyword === ''; else yourInput">
      請輸入關鍵字
    </span>
    <ng-template #yourInput>
      <span class="highlight">你輸入: {{ keyword }}</span>
    </ng-template> -->

    <!-- <app-tags [hidden]="keyword !== ''">請輸入關鍵字</app-tags> -->
    <!-- {{ keyword }} -->


  </div>
</nav>
